/*@import('static/ostrich/ostrich-sans.css');*/
@import 'static/ostrich-sans/ostrich-sans.css';
@import 'static/open-sans/open-sans.css';

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
/*@media (max-width: 55.875rem) {*/
@media (min-width: 56rem) {
    #logo {
        display: flex !important;
    }

    section#sidebar-left {
        border-left: 0.25rem solid rgba(255,255,255, 0.8);
        border-right: 0.25rem solid rgba(255,255,255, 0.8);
        border-bottom: none !important;
    }
}
html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-image: url('static/bg.svg'), linear-gradient(to bottom, rgb(15,15,15), rgb(40,50,80) 100%);
    background-size: 100% auto;
    background-attachment: fixed;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Open Sans', sans;
}

body {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    max-width: 55rem;
    min-height: 100%;
}

section#sidebar-left {

    position: sticky;
    top: 0;
    flex-basis: 15rem;
    flex-shrink: 1;
    flex-grow: 15;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    box-sizing: border-box;
    padding: 1rem;
    z-index: 200;
    background-color: rgba(0,0,0, 0.85);
    border-bottom: 0.25rem solid rgba(255,255,255, 0.8);
    
    /*-webkit-clip-path: polygon(0 0, 0 calc(100% - 3rem), 50% 100%, 100% calc(100% - 3rem), 100% 0);*/

    overflow: hidden;
    
    & > .sticky {
        position: sticky;
        top: 1rem;
        flex-shrink: 1;
    }

    nav.menu {

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;

            li {
                flex-shrink: 1;
                min-width: 7.5rem;
                margin-right: 0.5rem;
                font-size: 2.5rem;
                line-height: 100%;


                a {
                    width: 100%;
                    outline: none;

                    &::after {
                        content: "█";
                        margin-left: 0.25rem;
                        vertical-align: 15%;
                        font-size: 75%;
                        color: rgba(128,255,0, 0.8);
                        text-shadow: rgba(128,255,0, 0.8) 0 0 1rem;
                        opacity: 0;
                    }

                    &:hover,
                    &:focus {
                    
                        &::after {
                            animation: blink 0.5s ease-in-out infinite;
                        }
                    }
                }
            }
        }
    }

    #logo {

        display: none;
        flex-basis: 7.5rem;
        flex-grow: 1;
        flex-shrink: 0;
        align-self: center;
        justify-self: flex-end;
        max-height: 7.5rem;
    }
}

main {

    flex-basis: 40rem;
    flex-shrink: 1;
    flex-grow: 40;
    box-sizing: border-box;
    padding: 0 1rem;

    &>header {

        position: sticky;
        top: 0rem;
        padding: 5rem 1rem;
        background: rgba(255,255,255, 0.8);
        color: rgba(0,0,0, 0.8);
        z-index: 50;

        h1 {
            font-family: 'Ostrich Sans Inline', sans;
            font-style: italic;
            margin: 0;
            font-size: 54pt;
            font-weight: normal;
            transform: rotate(-5deg);
            text-align: center;
            text-shadow: 0 0 0.5rem rgba(0,0,0, 0.8);
        }
    }

    #content {

        & > * {

            position: relative;
            background: rgba(0,0,0, 0.85);
            padding: 1rem;
            z-index: 100;
            border: 0.25rem solid rgba(255,255,255, 0.8);
            border-top: none;
            border-bottom: none;
        }
    }
}

nav.menu {

    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;

            a {

                font-family: 'Ostrich Sans', sans;
                color: rgba(255, 255, 255, 0.7);
                text-decoration: none;

                &.active,
                &:hover,
                &:focus {
                    color: rgba(128,255,0, 0.8);
                }
            }
        }
    }
}

article {

    line-height: 1.5;
    font-weight: lighter;
    font-size: 14pt;

    p:first-child {
        margin-top: 0;
    }
}

form {

    padding: 0;
    margin: 0;

    input {
        border: 0;
        background: rgba(255,255,255, 0.4);
        
        &[type="text"] {
            font-size: 1rem;
            line-height: 150%;
            color: rgba(0,0,0, 0.8);
        }
    }

}

#search {


        input {
                display: inline-block;
                font-weight: bold;
                width: 50%;

                &:focus {
                    width: 70%;
                }
        }
        button {
                display: inline;
                width: 30%;
        }

}
